
.email-signup-container {
	max-width: 500px;
	border: solid 1px black;
	margin: 0 auto;
	padding: 10px 20px;
	font-family: sans-serif;

}

.email-signup-container .title {
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: center;
}

.input-container {
	text-align: left;
}
